.settings
*~
*.swp
*.pyc
*.class
*.iml
/android/*/*/gen
/android/*/*/bin
/android/*/*/out
.DS_Store
node_modules
.idea*
/csharp.net/*/PubNub-Messaging*/bin/*
/csharp.net/*/PubNub-Messaging*/obj/*
/csharp.net/*/*.suo
/csharp.net/*/PerformanceTracker/bin/*
/csharp.net/*/PerformanceTracker/obj/*
/j2me/3.3/nbproject
/silverlight/*/*/bin/*
/silverlight/*/Debug/*
/silverlight/*/*/obj/*
/windows-phone-7/*/packages/*
/windows-phone-7/*/packages.config
/windows-phone-7/*/*/bin/*
/windows-phone-7/*/*/obj/*
/windows-phone-7/*/*.suo
